.jumbotron {
  text-align: center;
  border-radius: 90px;
  background: cornflowerblue;
  box-shadow: 10px 10px black;
}

body {
  background-color: lightgray;
}

#results {
  display: none;
}

label {
  font-weight: bold;
}

#life-expectancy-info p {
  position: relative;
  top: 50%;
}
